/* Sidebar.css */
.sidebar {
  width: 170px;
  background-color: #020135;
  height: calc(100vh - 50px);
  /* Adjust height minus navbar height */
  position: fixed;
  top: 97px;
  /* Set top position to navbar height */
  left: 0;
  z-index: 1000;
  /* Ensure sidebar is above other content */

}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}



li a,
.dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #020135;

}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(239, 87, 87, 0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: rgb(254, 251, 251);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #050405;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 15px;
}

.btn {
  background-color: #020135;
  color: rgb(236, 232, 232);
}